<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"align":"full","style":{"spacing":{"padding":{"top":"var:preset|spacing|50","bottom":"var:preset|spacing|50","left":"var:preset|spacing|50","right":"var:preset|spacing|50"}},"elements":{"link":{"color":{"text":"var:preset|color|background"},":hover":{"color":{"text":"var:preset|color|tertiary"}}}}},"backgroundColor":"primary","textColor":"background","className":"gapless-group","layout":{"inherit":"true","type":"constrained"}} -->
<div class="wp-block-group alignfull gapless-group has-background-color has-primary-background-color has-text-color has-background has-link-color" style="padding-top:var(--wp--preset--spacing--50);padding-right:var(--wp--preset--spacing--50);padding-bottom:var(--wp--preset--spacing--50);padding-left:var(--wp--preset--spacing--50)"><!-- wp:group {"align":"wide","style":{"spacing":{"blockGap":"2rem"}},"layout":{"type":"flex","justifyContent":"space-between","flexWrap":"wrap"}} -->
<div class="wp-block-group alignwide"><!-- wp:group {"style":{"spacing":{"blockGap":"2rem"}},"layout":{"type":"flex","justifyContent":"left"}} -->
<div class="wp-block-group"><!-- wp:site-logo {"width":64,"shouldSyncIcon":true} /-->

<!-- wp:site-title {"fontSize":"medium"} /--></div>
<!-- /wp:group -->

<!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"}} -->
<div class="wp-block-group"><!-- wp:navigation {"ref":49,"layout":{"type":"flex","justifyContent":"right"},"style":{"spacing":{"blockGap":"20px"}},"fontSize":"small"} /-->

<!-- wp:buttons -->
<div class="wp-block-buttons"><!-- wp:button {"fontSize":"small"} -->
<div class="wp-block-button has-custom-font-size has-small-font-size"><a class="wp-block-button__link wp-element-button" href="#jump-get-in-touch">Get in touch</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group {"tagName":"main","style":{"spacing":{"blockGap":"0"}}} -->
<main class="wp-block-group"><!-- wp:group {"align":"full","layout":{"type":"constrained"}} -->
<div class="wp-block-group alignfull"><!-- wp:media-text {"align":"wide","mediaPosition":"right","mediaId":75,"mediaLink":"https://yanitsahalacheva.wordpress.com/profile-pic-round-white/","mediaType":"image","mediaWidth":33,"verticalAlignment":"bottom","imageFill":false,"style":{"spacing":{"padding":{"top":"0","right":"0","bottom":"0","left":"0"}}},"backgroundColor":"tertiary"} -->
<div class="wp-block-media-text alignwide has-media-on-the-right is-stacked-on-mobile is-vertically-aligned-bottom has-tertiary-background-color has-background" style="padding-top:0;padding-right:0;padding-bottom:0;padding-left:0;grid-template-columns:auto 33%"><div class="wp-block-media-text__content"><!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|60","right":"var:preset|spacing|40","bottom":"var:preset|spacing|60","left":"var:preset|spacing|40"}}},"layout":{"type":"constrained","contentSize":"480px"}} -->
<div class="wp-block-group" style="padding-top:var(--wp--preset--spacing--60);padding-right:var(--wp--preset--spacing--40);padding-bottom:var(--wp--preset--spacing--60);padding-left:var(--wp--preset--spacing--40)"><!-- wp:heading -->
<h2 class="wp-block-heading">Hello!                                               I'm Yanitsa Halacheva</h2>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>I'm an <strong>Underwriting Associate</strong> in the insurance market, <strong>Freelance Moderator</strong> and <strong>Translator.</strong></p>
<!-- /wp:paragraph -->

<!-- wp:buttons -->
<div class="wp-block-buttons"><!-- wp:button -->
<div class="wp-block-button"><a class="wp-block-button__link wp-element-button" href="#jump-about">About me</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons --></div>
<!-- /wp:group --></div><figure class="wp-block-media-text__media"><img src="https://yanitsahalacheva.files.wordpress.com/2023/11/profile-pic-round-white.png?w=1024" alt="" class="wp-image-75 size-full" /></figure></div>
<!-- /wp:media-text --></div>
<!-- /wp:group -->

<!-- wp:group {"align":"full","style":{"spacing":{"padding":{"top":"var:preset|spacing|80","bottom":"var:preset|spacing|80","left":"var:preset|spacing|50","right":"var:preset|spacing|50"}}},"layout":{"inherit":true,"type":"constrained"}} -->
<div class="wp-block-group alignfull" style="padding-top:var(--wp--preset--spacing--80);padding-right:var(--wp--preset--spacing--50);padding-bottom:var(--wp--preset--spacing--80);padding-left:var(--wp--preset--spacing--50)"><!-- wp:columns {"align":"wide"} -->
<div class="wp-block-columns alignwide"><!-- wp:column -->
<div class="wp-block-column"><!-- wp:group {"style":{"spacing":{"blockGap":"10px"}},"layout":{"type":"flex","orientation":"vertical","justifyContent":"center"}} -->
<div class="wp-block-group"><!-- wp:image {"align":"center","id":45,"width":"80px","sizeSlug":"full","linkDestination":"none","style":{"border":{"radius":"50%"}},"className":"is-resized is-style-rounded"} -->
<figure class="wp-block-image aligncenter size-full is-resized has-custom-border is-style-rounded"><img src="https://yanitsahalacheva.files.wordpress.com/2023/11/download-2.png" alt="" class="wp-image-45" style="border-radius:50%;width:80px" /></figure>
<!-- /wp:image -->

<!-- wp:paragraph {"align":"center","textColor":"ast-global-color-3"} -->
<p class="has-text-align-center has-ast-global-color-3-color has-text-color"><em>"Línguas </em>é o mapa do caminho para a cultura. Conta-te de onde as suas pessoas vêm e para onde vão<em>" - Rita Mae Brown</em></p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"><!-- wp:group {"style":{"spacing":{"blockGap":"10px"}},"layout":{"type":"flex","orientation":"vertical","justifyContent":"center"}} -->
<div class="wp-block-group"><!-- wp:image {"align":"center","id":48,"width":"80px","height":"auto","sizeSlug":"full","linkDestination":"none","style":{"border":{"radius":"50%"}},"className":"is-resized is-style-rounded"} -->
<figure class="wp-block-image aligncenter size-full is-resized has-custom-border is-style-rounded"><img src="https://yanitsahalacheva.files.wordpress.com/2023/11/flag-button-square-250.png" alt="" class="wp-image-48" style="border-radius:50%;width:80px;height:auto" /></figure>
<!-- /wp:image -->

<!-- wp:paragraph {"align":"center","textColor":"ast-global-color-3"} -->
<p class="has-text-align-center has-ast-global-color-3-color has-text-color"><em>"La lingua è la cartina stradale di una cultura. Ti dice da dove provengono le persone e dove stanno andando." - Rita Mae Brown</em></p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"><!-- wp:group {"style":{"spacing":{"blockGap":"10px"}},"layout":{"type":"flex","orientation":"vertical","justifyContent":"center"}} -->
<div class="wp-block-group"><!-- wp:image {"align":"center","id":47,"width":"80px","sizeSlug":"full","linkDestination":"none","style":{"border":{"radius":"50%"}},"className":"is-resized is-style-rounded"} -->
<figure class="wp-block-image aligncenter size-full is-resized has-custom-border is-style-rounded"><img src="https://yanitsahalacheva.files.wordpress.com/2023/11/flag_of_the_united_kingdom_1-1.svg_.png" alt="" class="wp-image-47" style="border-radius:50%;width:80px" /></figure>
<!-- /wp:image -->

<!-- wp:paragraph {"align":"center","textColor":"ast-global-color-3"} -->
<p class="has-text-align-center has-ast-global-color-3-color has-text-color"><em>"Language is the road map of a culture. It tells you where its people come from and where they are going." - Rita Mae Brown</em></p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group -->

<!-- wp:separator -->
<hr class="wp-block-separator has-alpha-channel-opacity" />
<!-- /wp:separator -->

<!-- wp:group {"align":"full","style":{"spacing":{"padding":{"right":"var:preset|spacing|50","left":"var:preset|spacing|50","top":"var:preset|spacing|70","bottom":"var:preset|spacing|70"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group alignfull" id="jump-about" style="padding-top:var(--wp--preset--spacing--70);padding-right:var(--wp--preset--spacing--50);padding-bottom:var(--wp--preset--spacing--70);padding-left:var(--wp--preset--spacing--50)"><!-- wp:columns {"align":"wide","style":{"spacing":{"blockGap":{"left":"var:preset|spacing|80"}}}} -->
<div class="wp-block-columns alignwide"><!-- wp:column {"verticalAlignment":"center","width":"","style":{"spacing":{"blockGap":"var:preset|spacing|30"}}} -->
<div class="wp-block-column is-vertically-aligned-center"><!-- wp:heading {"textAlign":"left","fontSize":"xxx-large"} -->
<h2 class="wp-block-heading has-text-align-left has-xxx-large-font-size">About me</h2>
<!-- /wp:heading --></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"><!-- wp:paragraph -->
<p>I'm a Detail-oriented Underwriting Associate with a proven track record in <strong><u>process organization</u> </strong>and maintaining accuracy. Skilled at collaborating in <strong><u>cross-functional teams</u> </strong>and at data-driven decision- making. I am also a <strong><u>Freelance translator</u> </strong>and <strong><u>content reviewer</u> </strong>for one of the biggest dating apps on the market. I always try to stay updated on the most cutting-edge digital technologies, especially in the field of <strong><u>content creation and optimization</u></strong>.</p>
<!-- /wp:paragraph --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group -->

<!-- wp:group {"align":"full","style":{"spacing":{"padding":{"top":"var:preset|spacing|70","bottom":"var:preset|spacing|70","left":"var:preset|spacing|50","right":"var:preset|spacing|50"},"blockGap":"var:preset|spacing|70"}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group alignfull" id="jump-work" style="padding-top:var(--wp--preset--spacing--70);padding-right:var(--wp--preset--spacing--50);padding-bottom:var(--wp--preset--spacing--70);padding-left:var(--wp--preset--spacing--50)"><!-- wp:heading {"align":"wide"} -->
<h2 class="wp-block-heading alignwide" id="jump-work">Work experience </h2>
<!-- /wp:heading -->

<!-- wp:group {"align":"wide","layout":{"type":"constrained"}} -->
<div class="wp-block-group alignwide"><!-- wp:columns {"align":"wide","style":{"spacing":{"blockGap":{"left":"var:preset|spacing|80"}}}} -->
<div class="wp-block-columns alignwide"><!-- wp:column {"width":"33%"} -->
<div class="wp-block-column" style="flex-basis:33%"><!-- wp:paragraph {"textColor":"primary","fontSize":"medium"} -->
<p class="has-primary-color has-text-color has-medium-font-size"><strong>Underwriting Associate</strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><strong>Accenture Bulgaria</strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><em>12/2021 - Present </em>  <em>(Full Remote)</em></p>
<!-- /wp:paragraph --></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"><!-- wp:paragraph -->
<p>I am working for a company leading in the <strong>insurance market</strong>, on various processes related to <strong>different insurance products </strong>(personal property insurance, motor insurance, cargo insurance, travel insurance, life insurance). My responsibilities include <strong>policy creation</strong>, renewals, changes, transfers, and cancellations of insurance. I am also <strong>training teammates </strong>and creating instructions and manuals.</p>
<!-- /wp:paragraph --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:separator {"align":"wide","style":{"color":{"background":"#4747471a"}},"className":"is-style-wide"} -->
<hr class="wp-block-separator alignwide has-text-color has-alpha-channel-opacity has-background is-style-wide" style="background-color:#4747471a;color:#4747471a" />
<!-- /wp:separator -->

<!-- wp:columns {"align":"wide","style":{"spacing":{"blockGap":{"left":"var:preset|spacing|80"}}}} -->
<div class="wp-block-columns alignwide"><!-- wp:column {"width":"33%"} -->
<div class="wp-block-column" style="flex-basis:33%"><!-- wp:paragraph {"textColor":"primary","fontSize":"medium"} -->
<p class="has-primary-color has-text-color has-medium-font-size"><strong>Freelance Moderator</strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><strong>Badoo</strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><em>07/2021 - Present </em>  <em>(Full Remote)</em></p>
<!-- /wp:paragraph --></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"><!-- wp:paragraph -->
<p>I am <strong>monitoring social media activity </strong>and enforcing community guidelines and terms of service by making non-biased responsible decisions. Responding to emails received on the Bulgarian support pages related to <strong>technical, billing, and safety issues </strong>in a professional manner. In my day-to-day work, I deal with a lot of sensitive data and I am also responsible for its safety and erasure if applicable. <strong>Translating FAQs </strong>and creating <strong>templates for the emails for the AI. </strong>Responding to comments and ratings given on Google Play and App Store.</p>
<!-- /wp:paragraph --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:separator {"align":"wide","style":{"color":{"background":"#4747471a"}},"className":"is-style-wide"} -->
<hr class="wp-block-separator alignwide has-text-color has-alpha-channel-opacity has-background is-style-wide" style="background-color:#4747471a;color:#4747471a" />
<!-- /wp:separator -->

<!-- wp:columns {"align":"wide","style":{"spacing":{"blockGap":{"left":"var:preset|spacing|80"}}}} -->
<div class="wp-block-columns alignwide"><!-- wp:column -->
<div class="wp-block-column"></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group -->

<!-- wp:heading {"align":"wide"} -->
<h2 class="wp-block-heading alignwide" id="jump-work">Certificates</h2>
<!-- /wp:heading --></div>
<!-- /wp:group -->

<!-- wp:columns {"align":"wide","style":{"spacing":{"margin":{"bottom":"0"}}}} -->
<div class="wp-block-columns alignwide" style="margin-bottom:0"><!-- wp:column {"style":{"color":{"background":"#ffe97d","text":"#000000"},"elements":{"link":{"color":{"text":"#000000"}}},"spacing":{"padding":{"top":"2em","right":"2em","bottom":"2em","left":"2em"}}}} -->
<div class="wp-block-column has-text-color has-background has-link-color" style="color:#000000;background-color:#ffe97d;padding-top:2em;padding-right:2em;padding-bottom:2em;padding-left:2em" id="jump-certificates"><!-- wp:heading {"style":{"typography":{"fontSize":"40px"}}} -->
<h2 class="wp-block-heading" id="single" style="font-size:40px"><strong>Technical SEO</strong></h2>
<!-- /wp:heading -->

<!-- wp:paragraph {"style":{"typography":{"lineHeight":"1.5"}},"fontSize":"normal"} -->
<p class="has-normal-font-size" style="line-height:1.5"><strong>SoftUni Digital</strong></p>
<!-- /wp:paragraph -->

<!-- wp:separator {"opacity":"css","style":{"color":{"background":"#000000"}},"className":"is-style-wide"} -->
<hr class="wp-block-separator has-text-color has-css-opacity has-background is-style-wide" style="background-color:#000000;color:#000000" />
<!-- /wp:separator -->

<!-- wp:list -->
<ul><!-- wp:list-item -->
<li>Technical skills to <strong>improve organic visibility</strong></li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>Understanding proper <strong>crawling, indexing and ranking</strong></li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>Working with large websites - portals and news sites</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li><strong>SEO project management</strong></li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>Online Store <strong>Ranking Strategies</strong></li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>Scheduling <strong>SEO services</strong></li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li><strong>SEO monitoring</strong> and measurement of results</li>
<!-- /wp:list-item --></ul>
<!-- /wp:list -->

<!-- wp:buttons {"align":"full","layout":{"type":"flex","justifyContent":"center","orientation":"horizontal"}} -->
<div class="wp-block-buttons alignfull"><!-- wp:button /--></div>
<!-- /wp:buttons --></div>
<!-- /wp:column -->

<!-- wp:column {"style":{"color":{"background":"#d1d1e1","text":"#000000"},"elements":{"link":{"color":{"text":"#000000"}}},"spacing":{"padding":{"top":"2em","right":"2em","bottom":"2em","left":"2em"}}}} -->
<div class="wp-block-column has-text-color has-background has-link-color" style="color:#000000;background-color:#d1d1e1;padding-top:2em;padding-right:2em;padding-bottom:2em;padding-left:2em"><!-- wp:heading {"style":{"typography":{"fontSize":"40px"}}} -->
<h2 class="wp-block-heading" id="family" style="font-size:40px">&nbsp;<strong>SEO Copywriting</strong></h2>
<!-- /wp:heading -->

<!-- wp:paragraph {"style":{"typography":{"lineHeight":"1.5"}},"fontSize":"normal"} -->
<p class="has-normal-font-size" style="line-height:1.5"><strong>SoftUni Digital</strong></p>
<!-- /wp:paragraph -->

<!-- wp:separator {"opacity":"css","className":"is-style-wide"} -->
<hr class="wp-block-separator has-css-opacity is-style-wide" />
<!-- /wp:separator -->

<!-- wp:list -->
<ul><!-- wp:list-item -->
<li>Building an <strong>SEO content strategy</strong></li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li><strong>Keyword research, analysis and selection</strong></li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>Creating SEO content for a blog</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>Creating <strong>SEO content for products and categories</strong></li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li><strong>Off-Page Optimization</strong></li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>Building internal and external links</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>Working with different SEO tools</li>
<!-- /wp:list-item --></ul>
<!-- /wp:list -->

<!-- wp:buttons {"align":"full","layout":{"type":"flex","justifyContent":"center","orientation":"horizontal"}} -->
<div class="wp-block-buttons alignfull"><!-- wp:button /--></div>
<!-- /wp:buttons --></div>
<!-- /wp:column -->

<!-- wp:column {"style":{"color":{"background":"#c0ebf1","text":"#000000"},"elements":{"link":{"color":{"text":"#000000"}}},"spacing":{"padding":{"top":"2em","right":"2em","bottom":"2em","left":"2em"}}}} -->
<div class="wp-block-column has-text-color has-background has-link-color" style="color:#000000;background-color:#c0ebf1;padding-top:2em;padding-right:2em;padding-bottom:2em;padding-left:2em"><!-- wp:heading {"style":{"typography":{"fontSize":"40px"}}} -->
<h2 class="wp-block-heading" id="patron" style="font-size:40px"><strong>C1 Advanced exam (CAE) Certificate</strong></h2>
<!-- /wp:heading -->

<!-- wp:paragraph {"fontSize":"normal"} -->
<p class="has-normal-font-size"><strong>Cambridge English Institute</strong></p>
<!-- /wp:paragraph -->

<!-- wp:separator {"opacity":"css","className":"is-style-wide"} -->
<hr class="wp-block-separator has-css-opacity is-style-wide" />
<!-- /wp:separator -->

<!-- wp:paragraph -->
<p><strong>International English language certificate</strong>, which was taken in Varna in December 2022</p>
<!-- /wp:paragraph -->

<!-- wp:list {"fontSize":"normal"} -->
<ul class="has-normal-font-size"><!-- wp:list-item -->
<li></li>
<!-- /wp:list-item --></ul>
<!-- /wp:list -->

<!-- wp:buttons {"align":"full","layout":{"type":"flex","justifyContent":"center","orientation":"horizontal"}} -->
<div class="wp-block-buttons alignfull"><!-- wp:button /--></div>
<!-- /wp:buttons --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:group {"align":"full","style":{"spacing":{"padding":{"top":"var:preset|spacing|80","bottom":"var:preset|spacing|80","right":"var:preset|spacing|60","left":"var:preset|spacing|60"},"margin":{"top":"0px","bottom":"0px"}}},"layout":{"inherit":true,"type":"constrained"}} -->
<div class="wp-block-group alignfull" id="jump-education" style="margin-top:0px;margin-bottom:0px;padding-top:var(--wp--preset--spacing--80);padding-right:var(--wp--preset--spacing--60);padding-bottom:var(--wp--preset--spacing--80);padding-left:var(--wp--preset--spacing--60)"><!-- wp:columns {"align":"wide","style":{"spacing":{"blockGap":{"top":"var:preset|spacing|50","left":"var:preset|spacing|80"}}}} -->
<div class="wp-block-columns alignwide"><!-- wp:column {"verticalAlignment":"center"} -->
<div class="wp-block-column is-vertically-aligned-center"><!-- wp:image {"id":12210,"sizeSlug":"large","linkDestination":"none"} -->
<figure class="wp-block-image size-large"><img src="https://dotcompatterns.files.wordpress.com/2023/08/b81a0c92-0e2f-4dcb-840f-415d656035b8.jpg?w=1024" alt="" class="wp-image-12210" /></figure>
<!-- /wp:image --></div>
<!-- /wp:column -->

<!-- wp:column {"verticalAlignment":"center"} -->
<div class="wp-block-column is-vertically-aligned-center"><!-- wp:heading {"style":{"spacing":{"margin":{"top":"0px"}}}} -->
<h2 class="wp-block-heading" style="margin-top:0px">Education </h2>
<!-- /wp:heading -->

<!-- wp:separator -->
<hr class="wp-block-separator has-alpha-channel-opacity" />
<!-- /wp:separator -->

<!-- wp:paragraph {"textColor":"primary","fontSize":"medium"} -->
<p class="has-primary-color has-text-color has-medium-font-size"><strong>Applied Linguistics</strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><strong>Sofia University</strong>,  <em>10/2021 - 06/2023</em></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Module Translation and Communications</p>
<!-- /wp:paragraph -->

<!-- wp:separator -->
<hr class="wp-block-separator has-alpha-channel-opacity" />
<!-- /wp:separator -->

<!-- wp:paragraph {"textColor":"primary","fontSize":"medium"} -->
<p class="has-primary-color has-text-color has-medium-font-size"><strong>Erasmus+</strong> with focus<strong> </strong>in<strong> Social studies </strong>and<strong> Languages </strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><strong>Universidade de Coimbra</strong>,  <em>09/2020 - 02/2021</em></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Completed a 6-months Erasmus exchange programme at Coimbra, Portugal.</p>
<!-- /wp:paragraph -->

<!-- wp:separator -->
<hr class="wp-block-separator has-alpha-channel-opacity" />
<!-- /wp:separator -->

<!-- wp:paragraph {"textColor":"primary","fontSize":"medium"} -->
<p class="has-primary-color has-text-color has-medium-font-size"><strong>Modern Languages </strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><strong>Sofia University, </strong> <em>10/2017 - 06/2021</em></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Portuguese Philology </p>
<!-- /wp:paragraph --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group -->

<!-- wp:group {"align":"full","style":{"spacing":{"padding":{"top":"7vw","bottom":"7vw","left":"var:preset|spacing|50","right":"var:preset|spacing|50"},"margin":{"top":"0px","bottom":"0px"}}},"backgroundColor":"tertiary","textColor":"foreground","layout":{"inherit":true,"type":"constrained"}} -->
<div class="wp-block-group alignfull has-foreground-color has-tertiary-background-color has-text-color has-background" id="jump-internships" style="margin-top:0px;margin-bottom:0px;padding-top:7vw;padding-right:var(--wp--preset--spacing--50);padding-bottom:7vw;padding-left:var(--wp--preset--spacing--50)"><!-- wp:columns {"align":"wide"} -->
<div class="wp-block-columns alignwide"><!-- wp:column {"verticalAlignment":"center"} -->
<div class="wp-block-column is-vertically-aligned-center"><!-- wp:heading {"textAlign":"left","level":3,"style":{"typography":{"fontSize":37}}} -->
<h3 class="wp-block-heading has-text-align-left" style="font-size:37px">Internships</h3>
<!-- /wp:heading --></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"><!-- wp:paragraph {"textColor":"primary","fontSize":"medium"} -->
<p class="has-primary-color has-text-color has-medium-font-size"><strong>Associate Specialized translator of information resources </strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><strong>Bulgarian Encyclopedia Scientific Information Center</strong>                      <em>03/2021 - 09/2023</em></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>The internship consisted of <strong>research work</strong> and <strong>analysis of materials</strong> related to archaeology. I wrote <strong>encyclopedic articles</strong> based on the information I found related to history, traditions, and other culture-related topics. The texts are in <strong>Bulgarian </strong>and <strong>Portuguese</strong>.</p>
<!-- /wp:paragraph --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group -->

<!-- wp:group {"align":"full","style":{"spacing":{"padding":{"top":"var:preset|spacing|70","right":"var:preset|spacing|50","bottom":"var:preset|spacing|70","left":"var:preset|spacing|50"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group alignfull" id="jump-projects" style="padding-top:var(--wp--preset--spacing--70);padding-right:var(--wp--preset--spacing--50);padding-bottom:var(--wp--preset--spacing--70);padding-left:var(--wp--preset--spacing--50)"><!-- wp:columns {"verticalAlignment":"center","align":"wide","style":{"spacing":{"blockGap":{"top":"var:preset|spacing|60","left":"var:preset|spacing|60"}}}} -->
<div class="wp-block-columns alignwide are-vertically-aligned-center"><!-- wp:column {"verticalAlignment":"center","width":"33.33%","style":{"spacing":{"blockGap":"var:preset|spacing|40"}}} -->
<div class="wp-block-column is-vertically-aligned-center" style="flex-basis:33.33%"><!-- wp:heading -->
<h2 class="wp-block-heading">Projects</h2>
<!-- /wp:heading -->

<!-- wp:separator -->
<hr class="wp-block-separator has-alpha-channel-opacity" />
<!-- /wp:separator -->

<!-- wp:paragraph {"textColor":"primary","fontSize":"medium"} -->
<p class="has-primary-color has-text-color has-medium-font-size"><strong>Freelance Translator</strong> and <strong>Content Creator</strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><strong>Italian Honorary Consulate of Varna</strong>                  <em>02/2022 - 07/2022</em></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>I worked as a <strong>freelance translator </strong>and<strong> content creator</strong> for a project commissioned by the Italian Honorary Consulate in Varna which was the creation of an <strong>Augmented Reality application </strong>for mobile devices for cultural purposes. </p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>I collaborated by writing the contents of the application  in<strong> Italian, English </strong>and <strong>Bulgarian</strong>, creating posts for social media and videos.&nbsp;&nbsp;&nbsp;</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><a href="https://play.google.com/store/apps/details?id=com.StoneCutter.LeonARdo" target="_blank" rel="noreferrer noopener">Link for the application</a></p>
<!-- /wp:paragraph --></div>
<!-- /wp:column -->

<!-- wp:column {"verticalAlignment":"center","width":"66.66%"} -->
<div class="wp-block-column is-vertically-aligned-center" style="flex-basis:66.66%"><!-- wp:embed {"url":"https://www.youtube.com/watch?v=FL5I9SxC8po","type":"video","providerNameSlug":"youtube","responsive":true,"align":"center","className":"wp-embed-aspect-16-9 wp-has-aspect-ratio"} -->
<figure class="wp-block-embed aligncenter is-type-video is-provider-youtube wp-block-embed-youtube wp-embed-aspect-16-9 wp-has-aspect-ratio"><div class="wp-block-embed__wrapper">
https://www.youtube.com/watch?v=FL5I9SxC8po
</div></figure>
<!-- /wp:embed --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group -->

<!-- wp:group {"align":"full","style":{"spacing":{"padding":{"top":"7vw","bottom":"7vw","left":"var:preset|spacing|50","right":"var:preset|spacing|50"},"margin":{"top":"0px","bottom":"0px"}}},"backgroundColor":"tertiary","textColor":"foreground","layout":{"inherit":true,"type":"constrained"}} -->
<div class="wp-block-group alignfull has-foreground-color has-tertiary-background-color has-text-color has-background" id="jump-get-in-touch" style="margin-top:0px;margin-bottom:0px;padding-top:7vw;padding-right:var(--wp--preset--spacing--50);padding-bottom:7vw;padding-left:var(--wp--preset--spacing--50)"><!-- wp:columns {"align":"wide"} -->
<div class="wp-block-columns alignwide"><!-- wp:column -->
<div class="wp-block-column"><!-- wp:heading {"level":3,"style":{"typography":{"fontSize":37}}} -->
<h3 class="wp-block-heading" style="font-size:37px">Get in Touch</h3>
<!-- /wp:heading --></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"><!-- wp:paragraph {"align":"left"} -->
<p class="has-text-align-left">📧 yanitsa918@gmail.com </p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>📞 00 359 88 855 5846</p>
<!-- /wp:paragraph -->

<!-- wp:social-links {"iconColor":"foreground","iconColorValue":"#333333","size":"has-normal-icon-size","style":{"spacing":{"blockGap":{"top":"16px","left":"16px"}}},"className":"is-style-logos-only"} -->
<ul class="wp-block-social-links has-normal-icon-size has-icon-color is-style-logos-only"><!-- wp:social-link {"url":"https://www.linkedin.com/in/janitsa-halacheva-77859a200/","service":"linkedin"} /-->

<!-- wp:social-link {"url":"https://github.com/YanitsaHalacheva","service":"github"} /--></ul>
<!-- /wp:social-links --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer-container"} /-->